In [1]:
#Question no 1

In [2]:
#For loop is a single line command that will be executed repeteadly
#While loop is single or multi line command

In [3]:
a = 1
while a< 11:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [4]:
l = [1,2,3,4,5,6,7,8,9]

In [5]:
for i in range(len(l)):
    
        print(l[i])

1
2
3
4
5
6
7
8
9

In [6]:
 # Question no 2
    l = [1,2,3,4,5,6,7,8,9,10]

IndentationError: unexpected indent (3872024446.py, line 2)

In [ ]:
d = 0
for i in l:
    d = d +i
    print(d)
   # d = d +i

In [ ]:
d = 1
for i in l:
    d = d *i
    print(d)

In [ ]:
# Using while loop 
n = int(input("Enter the number"))
if n< 0 :
    print("Enter a positive number")
else :
    d = 0
while n > 0 :
    d = d + n
    
    n = n - 1
    print("The result is", d)

In [ ]:
# Using while loop 
n = int(input("Enter the number"))
if n< 0 :
    print("Enter a positive number")
else :
    d = 1
while n > 0 :
    d = d * n
    
    n = n - 1
    print("The result is", d)

In [ ]:
n = int(input("Enter the number"))
list(range(n))

In [7]:
#Question no 4
l = []
for i in range(101):
    l.append(i*i*i)

In [8]:
l2 = []
for i in l:
    if i%4 == 0 or i%5==0 :
        l2.append(i)

In [9]:
l2

[0,
 8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [30]:
#Question no 5
d = "i want to become a data scientist"
e = 0
for i in d:
    if i == 'a'or i== 'e' or i== 'u' or i== 'i' or i== 'o' :
        e = e + 1
print("Number of vowel is ", e)

Number of vowel is  12

In [31]:
n = int(input("Enter the unit"))
bill = 0
for i in n:
    if n <= 100:
        bill = n*4.5
    elif n > 100 or n <= 200 :
        bill = n*6
    elif n > 200 or n <= 300 :
        bill = n*10
    else :
        bill = n * 20
print("The total amount is ", bill)

Enter the unit 315

TypeError: 'int' object is not iterable